node_modules
.next
out
build

.git
.gitignore
.github

.claude
ux

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env*.local

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.dev.yml

*.md
